@import "tailwindcss";


@layer utilities {
  @keyframes float-like {
    0% {
      opacity: 1;
      transform: translate(0,0) rotate(var(--rotate-from)) scale(1);
    }
    100% {
      opacity: 0;
      transform: translate(var(--x), var(--y)) rotate(var(--rotate-to)) scale(1.4);
    }
  }

  .animate-float-like {
    animation: float-like 2s ease-out forwards;
    position: absolute;
    pointer-events: none;
  }
}