html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


.left {
  grid-row: 1 / span 2;
  grid-column: 1;     
}

.right-top {
  grid-column: 2;
  grid-row: 1;
}

.right-bottom {
  grid-column: 2;
  grid-row: 2;
}

.container > div {
  border: 1px solid #ccc;
}